body{
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
}
h1{
    border: 4px dotted grey;
    width: 100%;
    text-align: center;
    padding: 50px;
}
div{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 100vh;
    overflow: scroll;
    width: 100%;
}
img {
    display: flex;
    width: 45%;
    margin: 5px;
}






/* @media (min-width: 480px */
@media (min-width: 640px){
    body{
        flex-direction: row;
    }
    div{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
    img{
        display: flex;
        flex-flow: row wrap;
        width: 30%;
        margin: 5px;
        /* flex: 25% */
    }
}
